<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="allgenres"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item><h1>{{name}}</h1></ion-item>
  <ion-list>
    <ion-item-sliding *ngIf="itemCount <= 0">
      <ion-label style="margin-left: 5px;" class="ion-text-wrap">No existen items para este género.</ion-label>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let i of items">
      <ion-item detail (click)="goToItem(i.ItemID, i.ItemType)">
        <ion-icon top name={{http.getItemTypeIcon(i.ItemType)}}></ion-icon>
        <ion-label style="margin-left: 5px;" class="ion-text-wrap">{{ i.ItemSummary }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>