<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de deseos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngIf="this.ediciones.length == 0"><small>La lista está vacía.</small></ion-item>
    <ion-item *ngIf="this.ediciones.length > 0"><small>Arrastrar a la derecha para ver opciones.</small></ion-item>
    <ion-item-sliding *ngFor="let ed of ediciones">
      <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="markAsOwned(ed.EditionID)">
          <ion-icon name="checkbox"></ion-icon>Ya lo tengo
        </ion-item-option>
        <ion-item-option color="danger" (click)="removeFromWishlist(ed.EditionID)">
          <ion-icon name="trash"></ion-icon>Borrar de lista
        </ion-item-option>
      </ion-item-options>
      <app-edition-list [ed]="ed"></app-edition-list>
    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <app-present-action-sheet></app-present-action-sheet>
    </ion-fab-button>
  </ion-fab>
</ion-content>