<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Collectathon - Inicia sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginform">    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email formControlName="email" required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password formControlName="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col style="text-align: center">
      <div padding>
        <ion-button (click)="login(loginform.email, loginform.password)" type="submit" 
        color="primary" block>Iniciar sesión</ion-button>
        <ion-button (click)="signin(loginform.email, loginform.password)" type="submit" 
        color="secondary" block>Registrarse</ion-button>
        <!--<ion-button type="submit" color="danger" (click)="loginGoogle()">
          <ion-icon name="logo-google" style="margin-right: 5px"></ion-icon>Con cuenta Google
        </ion-button>-->
        <ion-button fill="clear" (click)="forgotPassword()">¿Olvidaste tu contraseña?</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>