<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/myitems"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{itemName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding>
      <ion-item class="ion-card"><ion-grid><ion-row>
        <ion-label style="margin-left: 5px;" class="ion-text-wrap">
          <h1><ion-icon name="{{typeIcon}}" style="margin: 0 5px;"></ion-icon>
            <strong>{{itemName}}</strong></h1>
            <div>
              <ion-button *ngIf="userID==creatorUser" top expand="inline" (click)="goToEditItem()">Editar</ion-button>
              <ion-button *ngIf="userID==creatorUser" top expand="inline" color="danger" (click)="deleteItem()">Eliminar</ion-button>
            </div>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-chip *ngFor="let p of people">
          <ion-icon name="person"></ion-icon>
          <a href="/person/{{p.PersonID}}" class="chiplink">
          <app-persona Names="{{p.Names}}" LastNames="{{p.LastNames}}" Role="{{p.Role}}"></app-persona>
          </a>
          <ion-icon name="close" (click)="removePerson(p.PersonID, p.Role)"></ion-icon>
        </ion-chip>
        <ion-chip (click)="addPerson()">
          <ion-icon name="person-add"></ion-icon><ion-label>Agregar</ion-label>
        </ion-chip>
      </ion-row>
      <ion-row>
      <ion-chip *ngIf="series>0">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>
          <strong>Serie: </strong> 
          <a href="/series/{{series}}" class="chiplink">{{seriesName}}</a>
        </ion-label>
      </ion-chip>
      <ion-chip *ngIf="genreID1>0">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>
          <strong></strong> 
          <a href="/genre/{{genreID1}}" class="chiplink">{{genreName1}}</a>
        </ion-label>
      </ion-chip>
      <ion-chip *ngIf="genreID2>0">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>
          <strong></strong> 
          <a href="/genre/{{genreID2}}" class="chiplink">{{genreName2}}</a>
        </ion-label>
      </ion-chip>
      <ion-chip *ngIf="genreID3>0">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>
          <strong></strong> 
          <a href="/genre/{{genreID3}}" class="chiplink">{{genreName3}}</a>
        </ion-label>
      </ion-chip>
      </ion-row>
      <ion-row>
        <app-website-list [id]="id" type="item"></app-website-list>
      </ion-row>
    </ion-grid>
  </ion-item>
  </ion-item-sliding>
  <ion-item-sliding *ngIf="itemCount <= 0">
    <ion-label>No existen ediciones para este ítem.</ion-label>
  </ion-item-sliding>
    <ion-item-sliding *ngFor="let ed of ediciones">
      <ion-item class="ion-card">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="type === 'book'">
              <div><ion-button href="/edition/book/{{ed.EditionID}}">Ver detalle</ion-button></div>
              <app-detail-book [id]="ed.EditionID"></app-detail-book>
            </ion-col>
            <ion-col *ngIf="type === 'music'">
              <div><ion-button href="/edition/music/{{ed.EditionID}}">Ver detalle</ion-button></div>
              <app-detail-music [id]="ed.EditionID"></app-detail-music>
            </ion-col>
            <ion-col *ngIf="type === 'video'">
              <div><ion-button href="/edition/video/{{ed.EditionID}}">Ver detalle</ion-button></div>
              <app-detail-video [id]="ed.EditionID"></app-detail-video>
            </ion-col>
            <ion-col *ngIf="type === 'game'">
              <div><ion-button href="/edition/game/{{ed.EditionID}}">Ver detalle</ion-button></div>
              <app-detail-game [id]="ed.EditionID"></app-detail-game>
            </ion-col>
            <ion-col *ngIf="type === 'comic'">
              <div><ion-button href="/edition/comic/{{ed.EditionID}}">Ver detalle</ion-button></div>
              <app-detail-comic [id]="ed.EditionID"></app-detail-comic>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-button expand="full" (click)="goToNewEdition()">Nueva edición</ion-button>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
