<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/edition/book/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar edición libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <form [formGroup]="book" (ngSubmit)="submitForm()" novalidate>
    <ion-list>
      <ion-item lines="full">
        <ion-label position="stacked">Año de edición</ion-label>
        <ion-input placeholder="Ejemplo: 2020" [value]="book.Year" formControlName="Year" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">EAN13</ion-label>
        <ion-input placeholder="Ejemplo: 8491234567890" [value]="book.EAN13" formControlName="EAN13" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">ISBN</ion-label>
        <ion-input placeholder="Ejemplo: 9781234567890" [value]="book.ISBN" formControlName="ISBN" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Número de páginas</ion-label>
        <ion-input placeholder="Ejemplo: 200" [value]="book.NroPaginas" formControlName="NroPaginas" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Editorial</ion-label>
        <ion-input placeholder="Nombre editorial" [value]="book.Editorial" formControlName="Editorial" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Número de edición (sin ordinal)</ion-label>
        <ion-input placeholder="Ejemplo: 2" [value]="book.Edicion" formControlName="Edicion" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Idioma</ion-label>
        <ion-input placeholder="Ejemplo: Español" [value]="book.Idioma" formControlName="Idioma" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Tipo de edición</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="Tipo" type="text" value="{{book.Tipo}}">
          <ion-select-option *ngFor="let t of TipoLista" [value]="t">{{t}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="block" shape="round" color="primary" type="submit">Enviar</ion-button>
  </form>
</ion-content>