<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear edición cómic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <form [formGroup]="newedition" (ngSubmit)="submitForm()" novalidate>
    <ion-list>
      <ion-item lines="full">
        <ion-label position="stacked">Año de edición</ion-label>
        <ion-input placeholder="Ejemplo: 2020" formControlName="Year" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">EAN13</ion-label>
        <ion-input placeholder="Ejemplo: 8491234567890" formControlName="EAN13" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">ISBN</ion-label>
        <ion-input placeholder="Ejemplo: 9781234567890" formControlName="ISBNComic" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Tipo de edición</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="TipoComic" type="text">
          <ion-select-option *ngFor="let t of TipoLista" [value]="t">{{t}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Formato</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="FormatoComic" type="text">
          <ion-select-option *ngFor="let f of FormatoLista" [value]="f">{{f}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Número de grapa/tomo</ion-label>
        <ion-input placeholder="Ejemplo: 1" formControlName="NroComic" type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Editorial</ion-label>
        <ion-input placeholder="Ejemplo: Panini Comics" formControlName="EditorialComic" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Origen</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="Origen" type="text">
          <ion-select-option *ngFor="let o of OrigenLista" [value]="o">{{o}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Idioma</ion-label>
        <ion-input placeholder="Ejemplo: Español" formControlName="IdiomaComic" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" shape="round" color="primary" type="submit">Enviar</ion-button>
  </form>
</ion-content>