<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Crear página web</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <form [formGroup]="newweb" (ngSubmit)="submitForm()" novalidate>
    <ion-list>
      <ion-item lines="full">
        <ion-label position="stacked"><span style="color: red">*</span>URL/Dirección</ion-label>
        <ion-input placeholder="http://www.ejemplo.com/pagina" formControlName="URL" type="text" required></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.URL.errors?.required">
          Campo requerido.
        </span>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked"><span style="color: red">*</span>Texto del enlace</ion-label>
        <ion-input placeholder="Ejemplo: Amazon, Wikipedia, IMDB, etc." formControlName="Text" type="text" required></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Text.errors?.required">
          Campo requerido.
        </span>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button small expand="inline" shape="round" color="primary" type="submit">Enviar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button small expand="inline" shape="round" color="primary" (click)="closeModal()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
  </form>
</ion-content>