<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar edición juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <form [formGroup]="game" (ngSubmit)="submitForm()" novalidate>
    <ion-list>
      <ion-item lines="full">
        <ion-label position="stacked">Año de edición</ion-label>
        <ion-input placeholder="Ejemplo: 2020" [value]="game.Year" formControlName="Year" 
        type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">EAN13</ion-label>
        <ion-input placeholder="Ejemplo: 8491234567890" [value]="game.EAN13" formControlName="EAN13" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Plataforma o consola</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="Plataforma" type="text" value="{{game.Plataforma}}">
          <ion-select-option *ngFor="let t of PlataformaLista" [value]="t">{{t}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Formato de juego</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="FormatoJuego" type="text" value="{{game.FormatoJuego}}">
          <ion-select-option *ngFor="let f of FormatoLista" [value]="f">{{f}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Región</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" interface="alert" placeholder="Seleccionar" 
        formControlName="RegionJuego" type="text" value="{{game.RegionJuego}}">
          <ion-select-option *ngFor="let r of RegionLista" [value]="r">{{r}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Distribuidora</ion-label>
        <ion-input placeholder="Ejemplo: CAPCOM" [value]="game.Distribuidora" formControlName="Distribuidora" 
        type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Estudio</ion-label>
        <ion-input placeholder="Ejemplo: Santa Monica Studio" [value]="game.Estudio" formControlName="Estudio" 
        type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Notas de la edición (remasterizado, ed. especial, etc.)</ion-label>
        <ion-input placeholder="Ejemplo: Edición coleccionista" [value]="game.NotasEdJuego" 
        formControlName="NotasEdJuego" 
        type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" shape="round" color="primary" type="submit">Enviar</ion-button>
  </form>
</ion-content>